In [64]:
import numpy as np
import pandas as pd
import quandl as q
from matplotlib import pyplot as plt
import seaborn as sb
import math 
from IPython.display import display
pd.options.display.max_columns = None
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [41]:
q.ApiConfig.api_key = 
q.ApiConfig.api_version = '2017-11-02'

In [42]:
df = q.get('WIKI/AAPL',start_date = '2017-01-01')
df['30MA'] = df['Adj. Close'].rolling(30).mean()
df['60MA'] = df['Adj. Close'].rolling(60).mean()

In [43]:
df['Long'] = np.where(df['30MA'] > df['60MA'],df['Adj. High'],np.NaN)
df['Short'] = np.where(df['30MA'] < df['60MA'],df['Adj. Low'],np.NaN)

In [45]:
condition = [np.isnan(df['Long']), (df['Long'] == df['Adj. High']) & (np.isnan(df['Long'].shift()))]
choices = [np.NaN, df['Adj. High']]
shortcondition = [np.isnan(df['Short']), (df['Short'] == df['Adj. Low']) & (np.isnan(df['Short'].shift()))]
shortchoices = [np.NaN, df['Adj. Low']]

In [50]:
df['LongBuyLimit'] = np.select(condition,choices,default=np.nan)
df['ShortBuyLimit'] = np.select(shortcondition,shortchoices,default=np.nan)

In [53]:
df['BuyLimitFill'] = np.where(df['Long'] > 1, df['LongBuyLimit'].ffill(), np.NaN)
df['ShortLimitFill'] = np.where(df['Short'] > 1, df['ShortBuyLimit'].ffill(), np.NaN)

In [10]:
df['entry'] = np.where((df['30MA'] >= df['60MA']) & (df['Adj. High'] > df['CrossOver2']), 1 , 0)

In [66]:
d = df[['Adj. High','Adj. Low','30MA', '60MA', 'Long','Short','LongBuyLimit','ShortBuyLimit','BuyLimitFill','ShortLimitFill']].tail(500)

In [67]:
display(d)

             Adj. High    Adj. Low        30MA        60MA        Long       Short  LongBuyLimit  ShortBuyLimit  BuyLimitFill  ShortLimitFill
Date
2017-01-03  114.893155  113.342546         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-04  115.070931  114.320318         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-05  115.420756  114.379577         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-06  116.700551  115.031425         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-09  117.954865  116.483269         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-10  117.905483  116.838822         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-11  118.448689  117.135117         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-12  117.826471  116.749934         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-13  118.142518  117.342523         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-17  118.754860  116.759810         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-18  119.011649  118.231407         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-19  118.606713  117.895606         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-20  118.962267  118.255703         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-23  119.317820  118.290666         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-24  118.616590  118.024000         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-25  120.591887  118.794366         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-26  120.927687  120.098062         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-27  120.838799  120.098062         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-30  120.127692  119.169673         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-01-31  119.890656  119.130167         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-01  128.878258  125.441241         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-02  127.791844  126.201730         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-03  127.594315  126.577037         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-06  128.888134  127.307897         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-07  130.458496  128.838752         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-08  130.586890  129.599241         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-09  131.372177  130.057909         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-10  131.863167  130.980376         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-13  132.736039  131.674706         NaN         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-14  133.995752  132.170656  122.032657         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-15  135.166194  133.529559  122.689222         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-16  134.799191  133.747578  123.344612         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-17  134.729758  134.005671  123.992978         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-21  135.642306  134.878543  124.630947         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-22  136.009309  135.007490  125.246916         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-23  136.366392  135.195951  125.839759         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-24  135.553035  134.184213  126.415829         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-27  136.321757  135.176113  127.017288         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-02-28  136.321757  135.592711  127.627644         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-01  139.014765  136.480461  128.298972         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-02  139.142323  137.636024  128.943188         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-03  138.697357  137.467401  129.621428         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-06  138.637843  137.473254  130.277878         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-07  138.846142  137.665781  130.937646         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-08  138.667600  137.695538  131.583842         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-09  137.665781  135.939876  132.156578         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-10  138.228288  137.516996  132.742547         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-13  138.300597  137.695538  133.330171         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-14  138.518815  137.715376  133.921387         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-15  139.610004  137.898878  134.570424         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-16  139.877718  139.123874  134.983445         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-17  139.857880  138.756871  135.380565         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-20  140.353830  139.094117  135.808181         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-21  141.643300  138.598167  136.142399         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-22  140.453020  138.627924  136.488035         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-23  140.437546  139.471039  136.800349         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-24  140.591886  139.213145  137.072129         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-27  140.076098  137.497158  137.361764         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-28  142.873256  139.480958  137.709260         NaN         NaN         NaN           NaN            NaN           NaN             NaN
2017-03-29  143.319610  142.030141  138.010136  130.021396  143.319610         NaN     143.31961            NaN     143.31961             NaN
2017-03-30  143.329529  142.337630  138.288529  130.488876  143.329529         NaN           NaN            NaN     143.31961             NaN
2017-03-31  143.101393  141.851599  138.563451  130.954032  143.101393         NaN           NaN            NaN     143.31961             NaN
2017-04-03  142.952608  141.891275  138.827296  131.410137  142.952608         NaN           NaN            NaN     143.31961             NaN
2017-04-04  143.716370  142.010303  139.094117  131.862532  143.716370         NaN           NaN            NaN     143.31961             NaN
2017-04-05  144.281753  142.645119  139.322585  132.284750  144.281753         NaN           NaN            NaN     143.31961             NaN
2017-04-06  143.349367  142.288035  139.558326  132.699042  143.349367         NaN           NaN            NaN     143.31961             NaN
2017-04-07  143.012122  142.109493  139.779189  133.097509  143.012122         NaN           NaN            NaN     143.31961             NaN
2017-04-10  142.713758  141.742490  139.985504  133.501396  142.713758         NaN           NaN            NaN     143.31961             NaN
2017-04-11  142.188845  138.925494  140.138918  133.883281  142.188845         NaN           NaN            NaN     143.31961             NaN
2017-04-12  140.998565  139.867799  140.205376  134.252174  140.998565         NaN           NaN            NaN     143.31961             NaN
2017-04-13  141.226702  139.907475  140.274478  134.608833  141.226702         NaN           NaN            NaN     143.31961             NaN
2017-04-17  140.730752  139.728933  140.342258  134.981843  140.730752         NaN           NaN            NaN     143.31961             NaN
2017-04-18  140.889456  139.966989  140.403756  135.340817  140.889456         NaN           NaN            NaN     143.31961             NaN
2017-04-19  140.849780  139.312335  140.442109  135.689878  140.849780         NaN           NaN            NaN     143.31961             NaN
2017-04-20  141.762328  140.016584  140.555847  136.069845  141.762328         NaN           NaN            NaN     143.31961             NaN
2017-04-21  141.524272  140.700995  140.674544  136.415561  141.524272         NaN           NaN            NaN     143.31961             NaN
2017-04-24  142.783985  142.020222  140.823329  136.782938  142.783985         NaN           NaN            NaN     143.31961             NaN
2017-04-25  143.726289  142.704633  140.999887  137.165029  143.726289         NaN           NaN            NaN     143.31961             NaN
2017-04-26  143.428719  142.214832  141.153989  137.537688  143.428719         NaN           NaN            NaN     143.31961             NaN
2017-04-27  142.992284  142.149169  141.264090  137.917257  142.992284         NaN           NaN            NaN     143.31961             NaN
2017-04-28  143.131150  142.109493  141.361957  138.172701  143.131150         NaN           NaN            NaN     143.31961             NaN
2017-05-01  146.007659  143.785803  141.580506  138.480535  146.007659         NaN           NaN            NaN     143.31961             NaN
2017-05-02  146.890450  145.650575  141.780539  138.794360  146.890450         NaN           NaN            NaN     143.31961             NaN
2017-05-03  146.295310  143.101393  142.019256  139.080828  146.295310         NaN           NaN            NaN     143.31961             NaN
2017-05-04  145.948145  144.628918  142.188210  139.338122  145.948145         NaN           NaN            NaN     143.31961             NaN
2017-05-05  147.773241  145.571223  142.454039  139.627194  147.773241         NaN           NaN            NaN     143.31961             NaN
2017-05-08  152.455008  147.822836  142.862702  139.967415  152.455008         NaN           NaN            NaN     143.31961             NaN
2017-05-09  153.625450  152.207033  143.295170  140.328467  153.625450         NaN           NaN            NaN     143.31961             NaN
2017-05-10  152.693064  150.877887  143.607949  140.658604  152.693064         NaN           NaN            NaN     143.31961             NaN
2017-05-11  153.447395  151.694507  143.953792  140.981964  153.447395         NaN           NaN            NaN     143.31961             NaN
2017-05-12  155.787899  154.044970  144.377293  141.332911  155.787899         NaN           NaN            NaN     143.31961             NaN
2017-05-15  156.016969  154.423435  144.796442  141.679946  156.016969         NaN           NaN            NaN     143.31961             NaN
2017-05-16  155.429353  154.094768  145.206633  142.016965  155.429353         NaN           NaN            NaN     143.31961             NaN
2017-05-17  153.945375  149.105014  145.408149  142.251133  153.945375         NaN           NaN            NaN     143.31961             NaN
2017-05-18  152.720345  150.519276  145.710488  142.516536  152.720345         NaN           NaN            NaN     143.31961             NaN
2017-05-19  153.357759  152.013214  146.038673  142.798500  153.357759         NaN           NaN            NaN     143.31961             NaN
2017-05-22  153.955334  152.292083  146.411633  143.095411  153.955334         NaN           NaN            NaN     143.31961             NaN
2017-05-23  154.274041  152.690466  146.783906  143.384705  154.274041         NaN           NaN            NaN     143.31961             NaN
2017-05-24  153.546991  152.053053  147.191825  143.665371  153.546991         NaN           NaN            NaN     143.31961             NaN
2017-05-25  153.726264  152.411598  147.611718  143.908547  153.726264         NaN           NaN            NaN     143.31961             NaN
2017-05-26  153.616708  152.690466  148.047777  144.161128  153.616708         NaN           NaN            NaN     143.31961             NaN
2017-05-30  153.805940  152.710386  148.460039  144.401148  153.805940         NaN           NaN            NaN     143.31961             NaN
2017-05-31  153.546991  151.764225  148.862920  144.633338  153.546991         NaN           NaN            NaN     143.31961             NaN
2017-06-01  152.710386  151.604871  149.296937  144.869523  152.710386         NaN           NaN            NaN     143.31961             NaN
2017-06-02  154.821818  152.272164  149.748124  145.151986  154.821818         NaN           NaN            NaN     143.31961             NaN
2017-06-05  153.825860  152.839860  150.154470  145.414507  153.825860         NaN           NaN            NaN     143.31961             NaN
2017-06-06  155.180364  153.158567  150.532782  145.678056  155.180364         NaN           NaN            NaN     143.31961             NaN
2017-06-07  155.349677  153.855738  150.911880  145.955884  155.349677         NaN           NaN            NaN     143.31961             NaN
2017-06-08  154.911455  153.776062  151.307762  146.230876  154.911455         NaN           NaN            NaN     143.31961             NaN
2017-06-09  154.562869  145.429926  151.499518  146.381804  154.562869         NaN           NaN            NaN     143.31961             NaN
2017-06-12  145.499643  141.934110  151.574396  146.468177  145.499643         NaN           NaN            NaN     143.31961             NaN
2017-06-13  146.854147  144.563441  151.593900  146.587203  146.854147         NaN           NaN            NaN     143.31961             NaN
2017-06-14  146.903945  143.258735  151.535841  146.658190  146.903945         NaN           NaN            NaN     143.31961             NaN
2017-06-15  143.895950  141.635322  151.463779  146.741518  143.895950         NaN           NaN            NaN     143.31961             NaN
2017-06-16  143.916068  141.625362  151.342179  146.765194  143.916068         NaN           NaN            NaN     143.31961             NaN
2017-06-19  146.147016  143.079462  151.275353  146.864696  146.147016         NaN           NaN            NaN     143.31961             NaN
2017-06-20  146.276491  144.354290  151.030797  146.946749  146.276491         NaN           NaN            NaN     143.31961             NaN
2017-06-21  145.479026  144.025623  150.783052  147.039111  145.479026         NaN           NaN            NaN     143.31961             NaN
2017-06-22  146.107178  144.533463  150.550483  147.079216  146.107178         NaN           NaN            NaN     143.31961             NaN
2017-06-23  146.565319  144.523603  150.298173  147.125982  146.565319         NaN           NaN            NaN     143.31961             NaN
2017-06-26  147.680793  144.792512  149.956891  147.167092  147.680793         NaN           NaN            NaN     143.31961             NaN
2017-06-27  145.569360  143.039624  149.559835  147.178139  145.569360         NaN           NaN            NaN     143.31961             NaN
2017-06-28  145.519562  142.581583  149.239801  147.223217  145.519562         NaN           NaN            NaN     143.31961             NaN
2017-06-29  144.543522  141.705039  149.021686  147.214918  144.543522         NaN           NaN            NaN     143.31961             NaN
2017-06-30  144.374209  143.198978  148.738833  147.224661  144.374209         NaN           NaN            NaN     143.31961             NaN
2017-07-03  144.712935  142.521725  148.424774  147.231724  144.712935         NaN           NaN            NaN     143.31961             NaN
2017-07-05  144.204896  142.146946  148.096108  147.253870  144.204896         NaN           NaN            NaN     143.31961             NaN
2017-07-06  142.920109  141.834514  147.728599  147.256252  142.920109         NaN           NaN            NaN     143.31961             NaN
2017-07-07  144.165058  142.322534  147.424499  147.308162  144.165058         NaN           NaN            NaN     143.31961             NaN
2017-07-10  145.360208  142.790634  147.132019  147.371869         NaN  142.790634           NaN     142.790634           NaN      142.790634
2017-07-11  145.260613  143.796553  146.863774  147.455776         NaN  143.796553           NaN            NaN           NaN      142.790634
2017-07-12  145.589279  144.234775  146.600509  147.530274         NaN  144.234775           NaN            NaN           NaN      142.790634
2017-07-13  147.889944  144.852269  146.434848  147.648884         NaN  144.852269           NaN            NaN           NaN      142.790634
2017-07-14  148.726550  146.734632  146.297406  147.797172         NaN  146.734632           NaN            NaN           NaN      142.790634
2017-07-17  150.290205  147.969621  146.101866  147.924995         NaN  147.969621           NaN            NaN           NaN      142.790634
2017-07-18  149.523317  148.069217  145.974051  148.064260         NaN  148.069217           NaN            NaN           NaN      142.790634
2017-07-19  150.808104  149.344044  145.860180  148.196481         NaN  149.344044           NaN            NaN           NaN      142.790634
2017-07-20  151.126811  149.583074  145.693191  148.302535         NaN  149.583074           NaN            NaN           NaN      142.790634
2017-07-21  149.832064  148.278368  145.536493  148.422128         NaN  148.278368           NaN            NaN           NaN      142.790634

In [24]:
df.loc[df['entry'] == 1]

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,30MA,60MA,CrossOver,CrossOver2,entry
Date,,,,,,,,,,,,,,,,,
2017-03-30,144.19,143.329529,143.5000,143.9300,21207252.0,0.00,1.0,143.022041,143.329529,142.337630,142.764147,21207252.0,138.288529,130.488876,143.329529,143.31961,1
2017-04-04,143.25,143.716370,143.1700,144.7700,19891354.0,0.00,1.0,142.089655,143.716370,142.010303,143.597342,19891354.0,139.094117,131.862532,143.716370,143.31961,1
2017-04-05,144.22,144.281753,143.8100,144.0200,27717854.0,0.00,1.0,143.051798,144.281753,142.645119,142.853418,27717854.0,139.322585,132.284750,144.281753,143.31961,1
2017-04-06,144.29,143.349367,143.4500,143.6600,21149034.0,0.00,1.0,143.121231,143.349367,142.288035,142.496334,21149034.0,139.558326,132.699042,143.349367,143.31961,1
2017-04-25,143.91,143.726289,143.8700,144.5400,18216472.0,0.00,1.0,142.744309,143.726289,142.704633,143.369205,18216472.0,140.999887,137.165029,143.726289,143.31961,1
2017-04-26,144.47,143.428719,143.3762,143.6508,19614287.0,0.00,1.0,143.299772,143.428719,142.214832,142.487208,19614287.0,141.153989,137.537688,143.428719,143.31961,1
2017-05-01,145.10,146.007659,144.9600,146.6000,32818760.0,0.00,1.0,143.924669,146.007659,143.785803,145.412519,32818760.0,141.580506,138.480535,146.007659,143.31961,1
2017-05-02,147.54,146.890450,146.8400,147.5100,39752670.0,0.00,1.0,146.344905,146.890450,145.650575,146.315148,39752670.0,141.780539,138.794360,146.890450,143.31961,1
2017-05-03,145.59,146.295310,144.2700,147.0600,45142806.0,0.00,1.0,144.410700,146.295310,143.101393,145.868793,45142806.0,142.019256,139.080828,146.295310,143.31961,1
2017-05-04,146.52,145.948145,145.8100,146.5300,23275690.0,0.00,1.0,145.333167,145.948145,144.628918,145.343086,23275690.0,142.188210,139.338122,145.948145,143.31961,1
2017-05-05,146.76,147.773241,146.7600,148.9600,26787359.0,0.00,1.0,145.571223,147.773241,145.571223,147.753403,26787359.0,142.454039,139.627194,147.773241,143.31961,1
2017-05-08,149.03,152.455008,149.0300,153.0000,48339210.0,0.00,1.0,147.822836,152.455008,147.822836,151.760678,48339210.0,142.862702,139.967415,152.455008,143.31961,1
2017-05-09,153.87,153.625450,153.4500,153.9600,35942435.0,0.00,1.0,152.623631,153.625450,152.207033,152.712902,35942435.0,143.295170,140.328467,153.625450,143.31961,1
2017-05-10,153.63,152.693064,152.1100,153.2600,25670456.0,0.00,1.0,152.385575,152.693064,150.877887,152.018572,25670456.0,143.607949,140.658604,152.693064,143.31961,1
2017-05-11,152.45,153.447395,152.3100,153.9500,25596687.0,0.63,1.0,151.833942,153.447395,151.694507,153.327880,25596687.0,143.953792,140.981964,153.447395,143.31961,1
2017-05-12,154.70,155.787899,154.6700,156.1000,32221756.0,0.00,1.0,154.074849,155.787899,154.044970,155.469192,32221756.0,144.377293,141.332911,155.787899,143.31961,1
2017-05-15,156.01,156.016969,155.0500,155.7000,25700983.0,0.00,1.0,155.379555,156.016969,154.423435,155.070808,25700983.0,144.796442,141.679946,156.016969,143.31961,1
2017-05-16,155.94,155.429353,154.7200,155.4700,19904679.0,0.00,1.0,155.309838,155.429353,154.094768,154.841738,19904679.0,145.206633,142.016965,155.429353,143.31961,1
2017-05-17,153.60,153.945375,149.7100,150.2500,49482818.0,0.00,1.0,152.979294,153.945375,149.105014,149.642832,49482818.0,145.408149,142.251133,153.945375,143.31961,1
2017-05-18,151.27,152.720345,151.1300,152.5400,33159664.0,0.00,1.0,150.658710,152.720345,150.519276,151.923578,33159664.0,145.710488,142.516536,152.720345,143.31961,1
2017-05-19,153.38,153.357759,152.6300,152.9600,26733798.0,0.00,1.0,152.760183,153.357759,152.013214,152.341881,26733798.0,146.038673,142.798500,153.357759,143.31961,1
2017-05-22,154.00,153.955334,152.9100,153.9900,22340069.0,0.00,1.0,153.377678,153.955334,152.292083,153.367718,22340069.0,146.411633,143.095411,153.955334,143.31961,1
2017-05-23,154.90,154.274041,153.3100,153.8000,19430358.0,0.00,1.0,154.274041,154.274041,152.690466,153.178486,19430358.0,146.783906,143.384705,154.274041,143.31961,1
2017-05-24,153.84,153.546991,152.6700,153.3400,19118319.0,0.00,1.0,153.218325,153.546991,152.053053,152.720345,19118319.0,147.191825,143.665371,153.546991,143.31961,1
2017-05-25,153.73,153.726264,153.0300,153.8700,19044463.0,0.00,1.0,153.108769,153.726264,152.411598,153.248203,19044463.0,147.611718,143.908547,153.726264,143.31961,1
2017-05-26,154.00,153.616708,153.3100,153.6100,21632202.0,0.00,1.0,153.377678,153.616708,152.690466,152.989254,21632202.0,148.047777,144.161128,153.616708,143.31961,1
2017-05-30,153.42,153.805940,153.3300,153.6700,20034934.0,0.00,1.0,152.800022,153.805940,152.710386,153.049012,20034934.0,148.460039,144.401148,153.805940,143.31961,1
2017-05-31,153.97,153.546991,152.3800,152.7600,23162873.0,0.00,1.0,153.347799,153.546991,151.764225,152.142689,23162873.0,148.862920,144.633338,153.546991,143.31961,1
2017-06-01,153.17,152.710386,152.2200,153.1800,16180143.0,0.00,1.0,152.551032,152.710386,151.604871,152.560992,16180143.0,149.296937,144.869523,152.710386,143.31961,1
2017-06-02,153.58,154.821818,152.8900,155.4500,27285861.0,0.00,1.0,152.959375,154.821818,152.272164,154.821818,27285861.0,149.748124,145.151986,154.821818,143.31961,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-09-05,163.75,164.250000,160.5600,162.0800,29317054.0,0.00,1.0,163.750000,164.250000,160.560000,162.080000,29317054.0,157.483473,151.509983,164.250000,158.57280,1
2017-09-06,162.71,162.990000,160.5200,161.9100,21179047.0,0.00,1.0,162.710000,162.990000,160.520000,161.910000,21179047.0,157.831293,151.735517,162.990000,158.57280,1
2017-09-07,162.09,162.240000,160.3600,161.2600,21722995.0,0.00,1.0,162.090000,162.240000,160.360000,161.260000,21722995.0,158.135868,152.010971,162.240000,158.57280,1
2017-09-08,160.86,161.150000,158.5300,158.6300,28183159.0,0.00,1.0,160.860000,161.150000,158.530000,158.630000,28183159.0,158.328872,152.221511,161.150000,158.57280,1
2017-09-11,160.50,162.050000,159.8900,161.5000,31028926.0,0.00,1.0,160.500000,162.050000,159.890000,161.500000,31028926.0,158.713820,152.503621,162.050000,158.57280,1
2017-09-12,162.61,163.960000,158.7700,160.8200,71139119.0,0.00,1.0,162.610000,163.960000,158.770000,160.820000,71139119.0,159.111291,152.788839,163.960000,158.57280,1
2017-09-13,159.87,159.960000,157.9100,159.6500,44393752.0,0.00,1.0,159.870000,159.960000,157.910000,159.650000,44393752.0,159.491341,153.088088,159.960000,158.57280,1
2017-09-14,158.99,159.400000,158.0900,158.2800,23073646.0,0.00,1.0,158.990000,159.400000,158.090000,158.280000,23073646.0,159.785887,153.296944,159.400000,158.57280,1
2017-09-15,158.47,160.970000,158.0000,159.8800,48203642.0,0.00,1.0,158.470000,160.970000,158.000000,159.880000,48203642.0,159.898387,153.554544,160.970000,158.57280,1
2017-09-18,160.11,160.500000,157.9950,158.6700,27939718.0,0.00,1.0,160.110000,160.500000,157.995000,158.670000,27939718.0,160.022676,153.777701,160.500000,158.57280,1
2017-09-19,159.51,159.770000,158.4400,158.7300,20347352.0,0.00,1.0,159.510000,159.770000,158.440000,158.730000,20347352.0,160.121742,154.005843,159.770000,158.57280,1
2017-11-09,175.11,176.095000,173.1400,175.8800,28636531.0,0.00,1.0,175.110000,176.095000,173.140000,175.880000,28636531.0,160.389860,159.676263,176.095000,175.25000,1
2017-11-10,175.11,175.380000,174.2700,174.6700,25061183.0,0.00,1.0,175.110000,175.380000,174.270000,174.670000,25061183.0,161.102860,159.904930,175.380000,175.25000,1
2017-11-24,175.10,175.500000,174.6459,174.9700,14026519.0,0.00,1.0,175.100000,175.500000,174.645900,174.970000,14026519.0,166.231167,161.785597,175.500000,175.25000,1
2017-12-18,174.88,177.200000,174.8600,176.4200,28831533.0,0.00,1.0,174.880000,177.200000,174.860000,176.420000,28831533.0,172.225400,164.847130,177.200000,175.25000,1
2017-12-19,175.03,175.390000,174.0900,174.5400,27078872.0,0.00,1.0,175.030000,175.390000,174.090000,174.540000,27078872.0,172.293400,165.224630,175.390000,175.25000,1
2017-12-20,174.87,175.420000,173.2500,174.3500,23000392.0,0.00,1.0,174.870000,175.420000,173.250000,174.350000,23000392.0,172.296733,165.621297,175.420000,175.25000,1
2017-12-21,174.17,176.020000,174.1000,175.0100,20356826.0,0.00,1.0,174.170000,176.020000,174.100000,175.010000,20356826.0,172.303400,165.985797,176.020000,175.25000,1
2017-12-22,174.68,175.424000,174.5000,175.0100,16052615.0,0.00,1.0,174.680000,175.424000,174.500000,175.010000,16052615.0,172.274400,166.332130,175.424000,175.25000,1
2018-01-05,173.44,175.370000,173.0500,175.0000,23016177.0,0.00,1.0,173.440000,175.370000,173.050000,175.000000,23016177.0,172.293400,168.637617,175.370000,175.25000,1
2018-01-08,174.35,175.610000,173.9300,174.3500,20134092.0,0.00,1.0,174.350000,175.610000,173.930000,174.350000,20134092.0,172.273067,168.945117,175.610000,175.25000,1
2018-01-11,174.59,175.488600,174.4900,175.2800,17523256.0,0.00,1.0,174.590000,175.488600,174.490000,175.280000,17523256.0,172.332067,169.851117,175.488600,175.25000,1
2018-01-12,176.18,177.360000,175.6500,177.0900,25039531.0,0.00,1.0,176.180000,177.360000,175.650000,177.090000,25039531.0,172.585733,170.137950,177.360000,175.25000,1
2018-01-16,177.90,179.390000,176.1400,176.1900,29159005.0,0.00,1.0,177.900000,179.390000,176.140000,176.190000,29159005.0,172.730400,170.399950,179.390000,175.25000,1
2018-01-17,176.15,179.250000,175.0700,179.1000,32752734.0,0.00,1.0,176.150000,179.250000,175.070000,179.100000,32752734.0,172.998733,170.722283,179.250000,175.25000,1
2018-01-18,179.37,180.100000,178.2500,179.2600,30234512.0,0.00,1.0,179.370000,180.100000,178.250000,179.260000,30234512.0,173.314067,171.110283,180.100000,175.25000,1
2018-01-19,178.61,179.580000,177.4100,178.4600,30827809.0,0.00,1.0,178.610000,179.580000,177.410000,178.460000,30827809.0,173.608067,171.481950,179.580000,175.25000,1
2018-01-22,177.30,177.780000,176.6016,177.0000,26023683.0,0.00,1.0,177.300000,177.780000,176.601600,177.000000,26023683.0,173.874400,171.829117,177.780000,175.25000,1
2018-01-23,177.30,179.440000,176.8200,177.0400,31702531.0,0.00,1.0,177.300000,179.440000,176.820000,177.040000,31702531.0,174.127333,172.161450,179.440000,175.25000,1
2018-01-24,177.25,177.300000,173.2000,174.2200,50562257.0,0.00,1.0,177.250000,177.300000,173.200000,174.220000,50562257.0,174.289000,172.458367,177.300000,175.25000,1

In [87]:
signals = pd.DataFrame(index=df.index)
signals['signals'] = 0.0
signals['short_mavg'] = df['Adj. Close'].rolling(window=40,min_periods=1,center=False).mean()
signals['long_mavg'] = df['Adj. Close'].rolling(window=100,min_periods=1,center=False).mean()

In [177]:
print(signals)

            signals  short_mavg   long_mavg
Date
2017-01-03      0.0  114.715378  114.715378
2017-01-04      0.0  114.651181  114.651181
2017-01-05      0.0  114.824019  114.824019
2017-01-06      0.0  115.231424  115.231424
2017-01-09      0.0  115.689199  115.689199
2017-01-10      0.0  116.014136  116.014136
2017-01-11      0.0  116.336532  116.336532
2017-01-12      0.0  116.516602  116.516602
2017-01-13      0.0  116.633611  116.633611
2017-01-17      0.0  116.822032  116.822032
2017-01-18      0.0  116.975297  116.975297
2017-01-19      0.0  117.085734  117.085734
2017-01-20      0.0  117.195895  117.195895
2017-01-23      0.0  117.295962  117.295962
2017-01-24      0.0  117.375445  117.375445
2017-01-25      0.0  117.562892  117.562892
2017-01-26      0.0  117.731773  117.731773
2017-01-27      0.0  117.882437  117.882437
2017-01-30      0.0  118.000609  118.000609
2017-01-31      0.0  118.093136  118.093136
2017-02-01      0.0  118.524879  118.524879
2017-02-02      0.0  118.907497  118.907497
2017-02-03      0.0  119.280461  119.280461
2017-02-06      0.0  119.672139  119.672139
2017-02-07      0.0  120.081470  120.081470
2017-02-08      0.0  120.478687  120.478687
2017-02-09      0.0  120.881231  120.881231
2017-02-10      0.0  121.244395  121.244395
2017-02-13      0.0  121.622530  121.622530
2017-02-14      0.0  122.032657  122.032657
...             ...         ...         ...
2017-11-02      0.0  157.742145  154.303441
2017-11-03      0.0  158.088895  154.568465
2017-11-06      0.0  158.407645  154.865231
2017-11-07      0.0  158.757395  155.176261
2017-11-09      0.0  159.163145  155.518111
2017-11-10      0.0  159.572895  155.807324
2017-11-13      0.0  159.925145  156.102784
2017-11-14      0.0  160.241895  156.363379
2017-11-15      0.0  160.500645  156.603764
2017-11-16      0.0  160.876395  156.857178
2017-11-17      0.0  161.295395  157.106371
2017-11-20      0.0  161.747645  157.374579
2017-11-21      0.0  162.312395  157.653572
2017-11-22      0.0  162.857895  157.972178
2017-11-24      0.0  163.376395  158.287498
2017-11-27      0.0  163.896645  158.599197
2017-11-28      0.0  164.370395  158.894820
2017-11-29      0.0  164.762145  159.168088
2017-11-30      0.0  165.196395  159.450614
2017-12-01      0.0  165.636375  159.716376
2017-12-04      0.0  165.996625  159.964957
2017-12-05      0.0  166.355125  160.209847
2017-12-06      0.0  166.684375  160.428218
2017-12-07      0.0  167.023175  160.638361
2017-12-08      0.0  167.343675  160.842505
2017-12-11      0.0  167.760425  161.074469
2017-12-12      0.0  168.128175  161.287372
2017-12-13      0.0  168.437925  161.512747
2017-12-14      0.0  168.731675  161.738320
2017-12-15      0.0  169.084425  161.962266

[240 rows x 3 columns]

In [178]:
df['return'] = ((df['Adj. Close'])/df['Adj. Close'].shift(1)-1)*100
df['return2'] = np.log(df['Adj. Close'].pct_change()+1)*100

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,return,return2,rolling50
Date,,,,,,,,,,,,,,,
2017-01-03,115.80,116.3300,114.76,116.15,28781865.0,0.0,1.0,114.369701,114.893155,113.342546,114.715378,28781865.0,NaN,NaN,NaN
2017-01-04,115.85,116.5100,115.75,116.02,21118116.0,0.0,1.0,114.419083,115.070931,114.320318,114.586983,21118116.0,-0.111924,-0.111987,NaN
2017-01-05,115.92,116.8642,115.81,116.61,22193587.0,0.0,1.0,114.488219,115.420756,114.379577,115.169696,22193587.0,0.508533,0.507244,NaN
2017-01-06,116.78,118.1600,116.47,117.91,31751900.0,0.0,1.0,115.337596,116.700551,115.031425,116.453639,31751900.0,1.114827,1.108659,NaN
2017-01-09,117.95,119.4300,117.94,118.99,33561948.0,0.0,1.0,116.493145,117.954865,116.483269,117.520300,33561948.0,0.915953,0.911783,NaN

In [179]:
df['dailyret'] = df['return']-.04/252

In [180]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,return,return2,rolling50,dailyret
Date,,,,,,,,,,,,,,,,
2017-01-03,115.80,116.3300,114.76,116.15,28781865.0,0.0,1.0,114.369701,114.893155,113.342546,114.715378,28781865.0,NaN,NaN,NaN,NaN
2017-01-04,115.85,116.5100,115.75,116.02,21118116.0,0.0,1.0,114.419083,115.070931,114.320318,114.586983,21118116.0,-0.111924,-0.111987,NaN,-0.112083
2017-01-05,115.92,116.8642,115.81,116.61,22193587.0,0.0,1.0,114.488219,115.420756,114.379577,115.169696,22193587.0,0.508533,0.507244,NaN,0.508374
2017-01-06,116.78,118.1600,116.47,117.91,31751900.0,0.0,1.0,115.337596,116.700551,115.031425,116.453639,31751900.0,1.114827,1.108659,NaN,1.114668
2017-01-09,117.95,119.4300,117.94,118.99,33561948.0,0.0,1.0,116.493145,117.954865,116.483269,117.520300,33561948.0,0.915953,0.911783,NaN,0.915794

In [181]:
sharp = math.sqrt(252)*df['dailyret'].mean()/df['dailyret'].std()
print(sharp)

2.55449858207

In [182]:
del df['Volume']

In [184]:
#df['cummaltive'] = (df['dailyret'].shift(1)+1)*(df['dailyret']+1)-1
df['cummaltive'] = (df['dailyret']+1).cumprod()-1

In [185]:
df.plot(x=df.index.values,y='Adj. Close')

,Open,High,Low,Close,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,return,return2,rolling50,dailyret,cummaltive
Date,,,,,,,,,,,,,,,,
2017-01-03,115.80,116.3300,114.76,116.15,0.0,1.0,114.369701,114.893155,113.342546,114.715378,28781865.0,NaN,NaN,NaN,NaN,NaN
2017-01-04,115.85,116.5100,115.75,116.02,0.0,1.0,114.419083,115.070931,114.320318,114.586983,21118116.0,-0.111924,-0.111987,NaN,-0.112083,-0.112083
2017-01-05,115.92,116.8642,115.81,116.61,0.0,1.0,114.488219,115.420756,114.379577,115.169696,22193587.0,0.508533,0.507244,NaN,0.508374,0.339311
2017-01-06,116.78,118.1600,116.47,117.91,0.0,1.0,115.337596,116.700551,115.031425,116.453639,31751900.0,1.114827,1.108659,NaN,1.114668,1.832199
2017-01-09,117.95,119.4300,117.94,118.99,0.0,1.0,116.493145,117.954865,116.483269,117.520300,33561948.0,0.915953,0.911783,NaN,0.915794,4.425911